<h2 class=paragraph>Получение инструмента</h2>
<h6 class=subparagraph>Информация по работнику</h6>
<div>
    <div class="informationgroups">
        <div>
            <div>
                <label>Имя:</label>
                <input type="text" placeholder=" Александр" id="name" required>
            </div>
            <div>
                <label>Участок:</label>
                <select id="plot" [(ngModel)]="plot">
                        <option *ngFor="let plot of plots" [ngValue]="plot">
                        {{plot}}
                        </option>
                    </select>
            </div>
        </div>
        <div>
            <div>
                <label>Фамилия:</label>
                <input type="text" placeholder=" Птушкин" id="lastname" required>
            </div>
            <div>
                <label>Должность:</label>
                <select id="post" [(ngModel)]="post">
                        <option *ngFor="let post of posts" [ngValue]="post">
                        {{ post}}
                        </option>
                    </select>
            </div>
        </div>
        <div>
            <div>
                <label>Табельный номер:</label>
                <input type="number" placeholder="1111" id="table-number" required min="0000">
            </div>
        </div>
    </div>
    <h6 class=subparagraph>Информация по иструменту</h6>
    <div class="informationgroups">
        <div>
            <label>Инвентарный номер:</label>
            <input type="number" placeholder="7843" id="inventory-number" required min="0000">
        </div>
        <div>
            <label>Наименование:</label>
            <input type="text" placeholder="Пила" id="tool" required>
        </div>
        <div>
            <label>Количество:</label>
            <input type="number" placeholder="1" id="count" required min="1">
        </div>
    </div>
    <h6 class=subparagraph>Дата перемищения</h6>
    <div class="informationgroups">
        <div>
            <label>Дата выдачи:</label>
            <input type="date" placeholder="784" id="date-of-issue" required>
        </div>
        <div>
            <label>Дата возврата:</label>
            <input type="date" placeholder="Пила" id="date-of-return">
        </div>
        <div>
            <label>Примечание:</label>
            <select id="note" [(ngModel)]="note">
                    <option *ngFor="let note of notes" [ngValue]="note">
                    {{note}}
                    </option>
                </select>
        </div>
    </div>
    <div class="informationgroups">
        <button type="submit" class="btn btn-primary" on-click="add()">Добавить</button>
        <button class="btn btn-warning" on-click="change()">Изменить</button>
        <button class="btn btn-danger" on-click="delete()">Удалить</button>
    </div>
</div>

<br>

<table class="table table-striped">
    <thead class="table-primary">
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Табельный номер
            </th>
            <th>
                Участок
            </th>
            <th>
                Должность
            </th>
            <th>
                Инвентарный номер
            </th>
            <th>
                Наименование
            </th>
            <th>
                Количество
            </th>
            <th>
                Дата выдачи
            </th>
            <th>
                Дата возврата
            </th>
            <th>
                Примечание
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items" on-click="onRowClick(item)">
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.lastname}}
            </td>
            <td>
                {{item.tableNumber}}
            </td>
            <td>
                {{item.plot}}
            </td>
            <td>
                {{item.post}}
            </td>
            <td>
                {{item.inventoryNumber}}
            </td>
            <td>
                {{item.tool}}
            </td>
            <td>
                {{item.count}}
            </td>
            <td>
                {{item.dateOfIssue}}
            </td>
            <td>
                {{item.dateOfReturn}}
            </td>
            <td>
                {{item.note}}
            </td>
        </tr>
    </tbody>
    <table>