.paragraph {
    color: #373A3C;
}

.subparagraph {
    margin-left: 2%;
    color: #0275D8;
}

.informationgroups {
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.informationgroups label {
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 30px;
}

.btn {
    margin-left: 2%;
}

.row {
    color: black;
    font-size: 18px;
}

th {
    background: rgb(65, 149, 223);
    /* Цвет фона */
    color: #ffffff;
    /* Цвет текста */
    text-align: center;
}

tbody tr:hover {
    background: rgb(158, 162, 167);
    /* Цвет фона при наведении */
    color: white;
    /* Цвет текста при наведении */
}

input.ng-touched.ng-invalid {
    border: solid #D9534F 1.5px;
}