<label for="positionSelect">Текущая должность:</label>
<app-combo-box [dataSource]="allPositions"
               [(ngModel)]="position.id"
               displayMember="title"
               valueMember="id"
               [disabled]="!editMode"></app-combo-box>

<br>
<button *ngIf="editMode" (click)="onCreateNewPosition()">{{createNewCaption}}</button>
<app-position-creator *ngIf="creationMode"
                        (positionAdded)="onPositionAdded()"
                        [horizontalLayout]="false"></app-position-creator>

