<label for="positionSelect">Текущая должность:</label>
<select class="custom-select" [(ngModel)]="position.id"
      [disabled]="!editMode" id="positionSelect" class="form-control form-control-sm">
   <option *ngFor="let position of allPositions"
         [value]="position.id">{{position.title}}</option>
</select>
<br>
<button *ngIf="editMode" (click)="onCreateNewPosition()">{{createNewCaption}}</button>
<app-position-creator *ngIf="creationMode"
                        (positionAdded)="onPositionAdded()"
                        [horizontalLayout]="false"></app-position-creator>

