<form [formGroup]="plotsForm" class="col-12 row" *ngIf="canDisplayForm">
    <div class="col-4 row" formGroupName="commonInfo">
        <div class="col-4">
            <label>Адрес</label>
            <input type="text" class="form-control form-control-sm" list="address" formControlName="address" required>
            <datalist id="address">
                <option *ngFor="let location of locations">{{location.name}}</option>
            </datalist>
        </div>
        <div class="col-8">
            <label>Отдел производства</label>
            <input type="text" class="form-control form-control-sm" list="productionDepartment" formControlName="productionDepartment" (keyup)="checkTypeOfDepartment()" required>
            <datalist id="productionDepartment">
                <option *ngFor="let productionDepartment of productionDepartments">{{productionDepartment}}</option>
            </datalist>
        </div>
    </div>
    <div class="col-6 row" *ngIf="canDisplayPartOfGuildForm" formGroupName="detailsInfo">
        <div class="col">
            <label>Этаж</label>
            <input type="number" class="form-control form-control-sm" formControlName="floor">
        </div>
        <div class="col">
            <label>Рабочий участок</label>
            <input type="text" class="form-control form-control-sm" list="workSite" formControlName="workSite">
            <datalist id="workSite">
                <option *ngFor="let workSite of workSites">{{workSite.name}}</option>
            </datalist>
        </div>
        <div class="col">
            <label>Рабочее место</label>
            <input type="number" class="form-control form-control-sm" formControlName="place">
        </div>
    </div>
    <div class="col-6 row" *ngIf="canDisplayPartOfOfficeForm" formGroupName="detailsInfo">
        <div class="col-2">
            <label>Этаж</label>
            <input type="number" class="form-control form-control-sm" formControlName="floor">
        </div>
        <div class="col-4">
            <label>Отдел</label>
            <input type="text" class="form-control form-control-sm" list="workSite" formControlName="workSite">
            <datalist id="workSite">
                <option *ngFor="let workSite of workSites">{{workSite.name}}</option>
            </datalist>
        </div>
        <div class="col-2">
            <label>Комната</label>
            <input type="number" class="form-control form-control-sm" formControlName="room">
        </div>
        <div class="col-4">
            <label>Рабочее место</label>
            <input type="number" class="form-control form-control-sm" formControlName="place">
        </div>
    </div>
    <div class="col-2">
        <br>
        <save-button [disabled]="!plotsForm.valid" (click)="onSave()"></save-button>
        <edit-button (click)="onCancel()" titlePlaceholder="Отменить" [disabled]="locked" [showCancelBtn]="true"></edit-button>
    </div>
</form>