<form [formGroup]="plotsForm" class="myform" *ngIf="canDisplayForm">
    <div class="myform" formGroupName="commonInfo">
        <div class="point">
            <label>Адрес</label>
            <input type="text" class="form-control form-control-sm" list="address" formControlName="address" required>
            <datalist id="address">
                <option *ngFor="let location of locations">
                {{location.name}}
            </option>
            </datalist>
        </div>
        <div class="point">
            <label>Отдел производства</label>
            <input type="text" class="form-control form-control-sm" list="productionDepartment" formControlName="productionDepartment" (keyup)="checkTypeOfDepartment()" required>
            <datalist id="productionDepartment">
                <option *ngFor="let productionDepartment of productionDepartments">
                {{productionDepartment}}
            </option>
            </datalist>
        </div>
    </div>
    <div class="myform" *ngIf="canDisplayPartOfGuildForm" formGroupName="detailsInfo">
        <div class="point">
            <label>Этаж</label>
            <input type="number" class="form-control form-control-sm" formControlName="floor">
        </div>
        <div class="point">
            <label>Рабочий участок</label>
            <input type="text" class="form-control form-control-sm" list="workSite" formControlName="workSite">
            <datalist id="workSite">
                <option *ngFor="let workSite of workSites">
                {{workSite.name}}
            </option>
            </datalist>
        </div>
        <div class="point">
            <label>Рабочее место</label>
            <input type="number" class="form-control form-control-sm" formControlName="place">
        </div>
    </div>
    <div class="myform" *ngIf="canDisplayPartOfOfficeForm" formGroupName="detailsInfo">
        <div class="point">
            <label>Этаж</label>
            <input type="number" class="form-control form-control-sm" formControlName="floor">
        </div>
        <div class="point">
            <label>Отдел</label>
            <input type="text" class="form-control form-control-sm" list="workSite" formControlName="workSite">
            <datalist id="workSite">
                <option *ngFor="let workSite of workSites">
                {{workSite.name}}
            </option>
            </datalist>
        </div>
        <div class="point">
            <label>Комната</label>
            <input type="number" class="form-control form-control-sm" formControlName="room">
        </div>
        <div class="point">
            <label>Рабочее место</label>
            <input type="number" class="form-control form-control-sm" formControlName="place">
        </div>
    </div>
    <div class="mybutton">
        <save-button [disabled]="!plotsForm.valid" (click)="onSave()">
        </save-button>
        <edit-button (click)="onCancel()" titlePlaceholder="Отменить" [disabled]="locked" [showCancelBtn]="true">
        </edit-button>
    </div>
</form>