<div class="container">
  <div class="row">
    <div class="col-7">
      <div>
        <h3 float='left'>Список сотрудников</h3>
        <button [disabled]="addDisabled" class="btn btn-primary btn-sm"
                (click)="onAddClick($event)">Добавить</button>
         <edit-button  (click)="onEditClick($event)"
                     titlePlaceholder="Редактировать"
                     [showCancelBtn]="false"
                     [disabled]="editDisabled"></edit-button>
         <delete-button (click)="onDeleteClick($event)" 
                     titlePlaceholder="Удалить"
                     [disabled]="deleteDisabled"></delete-button>
   
      </div>
      <div>
        <app-employee-list [employees]="employees" 
                            [focusEntityId]="currentEmployeeId"
                            [locked]="editingInProcess"
                            [hideSelection]="hideSelection"
                        (currentEmpChanged)="onCurrentEmpChanged($event)"></app-employee-list>
      </div>
    </div>
    <div class="col-5">
      <app-employee-editor [employeeId]="currentEmployeeId"
                            [viewMode]="viewMode"
                            (canceled)="onCanceled()"
                            (saved)="onSaved($event)"></app-employee-editor>
    </div>
  </div>
</div>
