<button *ngIf="firingEnabled" (click)="onEmployeeFireRequested()">{{firingCaption}}</button>
<br>
<div *ngIf="!firingMode">
   <label for="positionSelect">Текущая должность:</label>
   <app-position-selector [position]="position" [disabled]="!editMode"></app-position-selector>

   <button *ngIf="editMode" (click)="onCreateNewPosition()">{{createNewCaption}}</button>
   <app-position-creator *ngIf="showPositionCreator"
                           (positionAdded)="onPositionAdded()"
                           [horizontalLayout]="false"></app-position-creator>
   <div>
      <label for="employmentDate">Дата приема на работу:</label>
      <input type="date" [(ngModel)]="employment.employmentDate" 
                        [readonly]="!editMode" 
                        id="employmentDate" 
                        class="form-control form-control-sm">
   </div>
</div>
<div *ngIf="firingMode">
   <label for="dismissalDate">Дата увольнения:</label>
   <input type="date" [(ngModel)]="employment.dismissalDate"
                      [readonly]="!editMode" 
                      id="dismissalDate" 
                      class="form-control form-control-sm">
 
   <label for="dismissReason">Причина увольнения:</label>
   <textarea [(ngModel)]="employment.dismissReason" 
                         [readonly]="reasonReadonly"
                         id="dismissReason" 
                         class="form-control form-control-sm"></textarea>
 
 </div>
