.btn {
    svg {
        &.cancel {
            margin-top: 2px;
        }
    }
    
}

:hover {
    svg {
        &.update {
            fill: rgb(218, 165, 32);
        }

        &.cancel {
            fill: rgb(128, 128, 128);
        }

        opacity: 0.8;
    }
}