<h2 class="paragraph">График отсутсвия сотрудников</h2>
<div>
    <button class="btn btn-primary">Добавить</button>
    <button class="btn btn-warning">Редактрировать</button>
    <button class="btn btn-danger">Удалить</button>
</div>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Дата с которой отсутствовал(-а):</th>
            <th>Дата до которой отсутствовал(-а):</th>
            <th>Причина отсутсвия</th>
        </tr>
    </thead>

            <tbody>
            <tr>
                <td>
                    
                </td>
                
                <td>
                    
                </td>

                <td>
                    
                </td>
            
                <td>
                </td>
            
                <td> 
                </td>
            </tr>
            </tbody>
        <table>
            
   