.row {
    color: black;
    font-size: 18px;
}

th {
    background: #2FA4E7;
    /* Цвет фона */
    color: #ffffff;
    /* Цвет текста */
    text-align: center;
}

tbody tr:hover {
    background: rgb(158, 162, 167);
    /* Цвет фона при наведении */
    color: white;
    /* Цвет текста при наведении */
}

td {
    text-align: center;
}