<app-employee-filter (applyFilter)="onApplyFilter($event)"></app-employee-filter>
<table class="table">
  <tr>
    <th>
      Имя
    </th>
    <th>
      Фамилия
    </th>
    <th>
      Отчество
    </th>
    <th>
      Дата рождения
    </th>
  </tr>
  <tr *ngFor="let employee of filteredEmployees" (click)="onRowClick(employee)"
            [ngClass]="{'selected' : isSelected(employee) }">
    <td>
      {{employee.mainInfo.firstName}}
    </td>
    <td>
      {{employee.mainInfo.secondName}}
    </td>
    <td>
      {{employee.mainInfo.patronymic}}
    </td>
    <td>
      {{employee.mainInfo.dob}}
    </td>
  </tr>
</table>
