<app-employee-filter (applyFilter)="onApplyFilter($event)" [locked]="locked"></app-employee-filter>
<table class="table table-striped">
   <thead class="thead-light">
      <tr>
         <th>
            Таб.№
         </th>
         <th>
            ФИО
         </th>
         <th>
            Должность
         </th>
         <th>
            Работает с
         </th>
         <th>
            Телефон
         </th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let employee of filteredEmployees" (click)="onRowClick(employee)"
         [ngClass]="{'table-primary' : isSelected(employee) }">
         <td>
            {{employee.mainInfo.id}}
         </td>
         <td>
            {{employee.mainInfo.shortName}}
         </td>
         <td>
            {{employee.position.title}}
         </td>
         <td>
            {{employee.employment.employmentDate}}
         </td>
         <td>
            {{employee.contact.phone}}
         </td>
      </tr>
   </tbody>
</table>