<div *ngIf="canOpenTable">
    <br>
    <div class="fuilterForPlot">
        <div class="btnFilters">
            <button class="btn btn-outline-primary btn-sm" (click)="displayFilters()">Фильтр</button>
        </div>
        <div *ngIf="canUseFuilter" class="groupingOfElements">
            <div class="point">
                <small>ID</small>
                <input type="number" class="form-control form-control-sm" [(ngModel)]="idSearch">
            </div>
            <div class="point">
                <small>Адрес</small>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="addressSearch">
            </div>
            <div class="point">
                <small>Отдел производства</small>
                <input type="number" class="form-control form-control-sm" [(ngModel)]="idSearch">
            </div>
            <div class="point">
                <small>Этаж</small>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="addressSearch">
            </div>
            <div class="point">
                <small>Отдел/Рабочий участок</small>
                <input type="number" class="form-control form-control-sm" [(ngModel)]="idSearch">
            </div>
            <div class="point">
                <small>Комната</small>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="addressSearch">
            </div>
            <div class="point">
                <small>Рабочие место</small>
                <input type="number" class="form-control form-control-sm" [(ngModel)]="idSearch">
            </div>
            <div class="mybuttonForForm">
                <save-button (click)="onSearch()" titlePlaceholder="Применить">
                </save-button>
                <edit-button (click)="onCancel()" titlePlaceholder="Отменить" [disabled]="locked" [showCancelBtn]="true">
                </edit-button>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <thead class="table-primary">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Адрес
                    </th>
                    <th>
                        Отдел производства
                    </th>
                    <th>
                        Этаж
                    </th>
                    <th>
                        Отдел/Рабочий участок
                    </th>
                    <th>
                        Комната
                    </th>
                    <th>
                        Рабочие место
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plot of plots " on-click="onRowClick(plot) " [class.active]="location===currentLocation">
                    <td>
                        {{plot.id}}
                    </td>
                    <td>
                        {{plot.address}}
                    </td>
                    <td>
                        {{plot.productionDepartment}}
                    </td>
                    <td>
                        {{plot.floor}}
                    </td>
                    <td>
                        {{plot.workSite}}
                    </td>
                    <td>
                        {{plot.room}}
                    </td>
                    <td>
                        {{plot.place}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>