<div *ngIf="table">
    <br>
    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Название отдела
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plot of plots " on-click="onRowClick(plot) ">
                <td>
                    {{plot.address}}
                </td>
                <td>
                    {{plot.plotname}}
                </td>
                <td>
                    {{plot.employee}}
                </td>
                <td>
                    {{plot.toolname}}
                </td>
                <td>
                    {{plot.tableNumber}}
                </td>
                <td>
                    <p *ngFor="let plot of plot.responsible ">
                        {{plot}}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>