<app-create-material-form></app-create-material-form>


<div class="row">
  <div class="col-sm-3">
    <div class="list-group">

        <button type="button" class="list-group-item list-group-item-action active"
                data-target="#collapseExample"
                data-toggle="collapse" aria-expanded="false"
                aria-controls="collapseExample">
          Cras justo odio
        </button>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">

          </div>

        </div>
    </div>
  </div>
  <div class="col-sm">
    One of three columns
  </div>
</div>
