<div class="row justify-content-between">
  <div class="col-sm-7">
    <app-create-material-form></app-create-material-form>
  </div>
  <div class="col-sm-5 ">
    <div class="list-group">
      <ng-container *ngFor="let category of categories">
        <button type="button"
                class="list-group-item list-group-item-action list-group-item-primary"
                [attr.data-target]="'#'+category.name"
                data-toggle="collapse" aria-expanded="false"
                aria-controls="collapseExample1">{{category.name}}</button>
        <div class="collapse" [id]="category.name">
          <div class="card card-body p-1">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"
                  [class.disabled]="!material.isActive"
                  *ngFor="let material of
              category.materials">
                {{material.name}}
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
