<form [formGroup]="servicesForm" novalidate>
  <div class="form-group">
    <label for="IdInstrument">Идентификатор инструмента</label>
    <input type="number" class="form-control" id="IdInstrument"  formControlName="id" required>
    <p *ngIf="servicesForm.get('id').errors">Error</p>
  </div>
  <div class="form-group">
    <label for="startDate">Дата сдачи в ремонт</label>
    <input type="date" class="form-control" id="startDate"  formControlName="startDate">
  </div>
  <div class="form-group">
    <label for="endtDate">Дата получения из ремонта</label>
    <input type="date" class="form-control" id="endDate"  formControlName="endDate">
  </div>
  <div class="form-group">
    <label for="status">Статус</label>
    <select id="status" class="form-control" formControlName="status">
      <option selected>Готов</option>
      <option>Не готов</option>
      <option>Не подлежит восстановления</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Описание</label>
    <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
  </div>
  <button  (click)="onAdd()"
          type="button" class="btn btn-primary">Отправить</button>
</form>



<!-- <app-instrument-service-table [instruments]="instruments"></app-instrument-service-table> -->