<!-- class="browser-default custom-select" -->
<div *ngIf="canOpenTable" class="col-lg-12">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#plots">Участки</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#location">Адреса локаций</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#offile">Отделы</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#guild">Рабочие участки</a></li>
    </ul>
</div>
<div *ngIf="canOpenTable" class="tab-content col-lg-12">
    <div id="plots" class="tab-pane active">
        <app-table-for-plots></app-table-for-plots>
    </div>
    <div id="location" class="tab-pane">
        <app-table-for-location></app-table-for-location>
    </div>
    <div id="offile" class="tab-pane">
        <app-table-work-site-for-office></app-table-work-site-for-office>
    </div>
    <div id="guild" class="tab-pane">
        <app-table-work-site-for-guild></app-table-work-site-for-guild>
    </div>
</div>