<div class="container">
   <div class="row">
      <div class="col-6">
         <label for="tabNumber" *ngIf="showId && mainInfo.id > -1">Табельный номер:</label>
         <input *ngIf="showId && mainInfo.id > -1" type="text" [(ngModel)]="mainInfo.id" [readonly]="true" id="tabNumber" class="form-control form-control-sm">

         <label for="firstName">Имя:</label>
         <input type="text" [(ngModel)]="mainInfo.firstName" [readonly]="!editMode" id="firstName" class="form-control form-control-sm">
         
         <label for="secondName">Фамилия:</label>
         <input type="text" [(ngModel)]="mainInfo.secondName" [readonly]="!editMode" id="secondName" class="form-control form-control-sm">

         <label for="patronymic">Отчество:</label>
         <input type="text" [(ngModel)]="mainInfo.patronymic" [readonly]="!editMode" id="patronymic" class="form-control form-control-sm">

         <label for="dob">Дата рождения:</label>
         <input type="date" [(ngModel)]="mainInfo.dob" [readonly]="!editMode" id="dob" class="form-control  form-control-sm">
      </div>
      <div class="col-3">
         <image-chooser
            [imageBase64]="mainInfo.photo"
            [readonly]="!editMode"
            caption="Фото:"
            (imageChanged)="onImageChanged($event)"></image-chooser>
      </div>
      <div class="col-3">
         <image-chooser
            [imageBase64]="mainInfo.signature"
            [readonly]="!editMode"
            caption="Подпись:"
            (imageChanged)="onSignatureChanged($event)"></image-chooser>
      </div>
   </div>
</div>
