.labelFilter {
   margin: 5px;
}

.positionFilterInput {
   margin-right: 34px;
}

.filterBlock {
   margin-bottom: 20px;
}

.fullWidth {
   width: 100%;
}

.btn-add {
   margin-top: 30px;
}

.disabledText {
   background-color: lightgray;
}

.enabledText {
   background-color: white;
}