<h3 float='left'>Менеджер должностей</h3>
<!-- add new -->
<h4 float='left'>Новая должность</h4>
<app-position-creator (positionAdded)="onPositionAdded()"></app-position-creator>
<hr>
<!-- existing -->
<h4 float='left'>Каталог должностей</h4>
<div class="filterBlock">
   <label for="filterPositionTitle" class="labelFilter">Фильтр по должности:</label>
   <input type="text" [(ngModel)]="filter.title"
                        id="filterPositionTitle">
   <label for="filterPositionReq" class="labelFilter">Фильтр по требованиям:</label>
   <input type="text" [(ngModel)]="filter.requirements" class="positionFilterInput"
                        id="filterPositionReq">
   <button class="btn btn-primary btn-sm"
                        (click)="onFilterClick()"
                        [disabled]="!filterEnabled">Фильтровать</button>
   <button class="btn btn-light btn-sm"
                        (click)="onFilterClearClick()">Очистить</button>
</div>
<div class="container">
  <div class="row" *ngFor="let position of filteredPositions">
    <div class="col-3">
      <input type="text" [(ngModel)]="position.title"
            [readonly]="isReadonlyForPosition(position)"
            [class]="getTextClassFor(position)">
    </div>
    <div class="col-5">
      <textarea [(ngModel)]="position.requirements"
            [readonly]="isReadonlyForPosition(position)"
            [class]="getTextClassFor(position)"></textarea>
    </div>
    <div class="col-4">
      <save-button (click)="onSave(position)" 
                     titlePlaceholder="Сохранить"
                     [disabled]="saveDisabledFor(position)"></save-button>
      <edit-button (click)="onEdit(position)"
                     [titlePlaceholder]="editCaptionFor(position)"
                     [showCancelBtn]="showCancelBtnFor(position)"></edit-button>
      <delete-button (click)="onDeleteClick(position)"
                     titlePlaceholder="Удалить"></delete-button>
    </div>
  </div>
</div>
