<div class="col-12 row">
    <div class="col-6 row">
        <div class="col-2">
            <br>
            <button class="btn btn-outline-primary btn-sm" (click)="displayFilters()">Фильтр</button>
        </div>
        <div class="col-10">
            <div *ngIf="canUseFuilter" class="row">
                <div class="col">
                    <small>ID</small>
                    <input type="number" class="form-control form-control-sm" [(ngModel)]="idSearch">
                </div>
                <div class="col">
                    <small>Адрес локации</small>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="addressSearch">
                </div>
                <div class="col">
                    <br>
                    <save-button (click)="onSearch()" titlePlaceholder="Применить"></save-button>
                    <edit-button (click)="onCancel()" titlePlaceholder="Отменить" [disabled]="locked" [showCancelBtn]="true"></edit-button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <app-location-form [openForm]="isOpenLocationForm" [row]="currentLocation" (renovation)="update($event)" (reset)="cancelCurrentLocation()" (deletion)="delete($event)"></app-location-form>
    </div>
</div>
<table class="table table-striped col-12">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Адрес локации</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let location of changeableLocations" [class.active]="location===currentLocation" (click)="onRowClick(location) ">
            <td>{{location.id}}</td>
            <td>{{location.name}}</td>
        </tr>
    </tbody>
</table>