<div class="col-lg-12">
    <span class="header">Участки производства</span>
    <button class="mybtn add-btn" (click)="openForm()"></button>
    <button class="btnfortoolbar" (click)="openTable()"><img class="icon" src="https://icon-icons.com/icons2/20/PNG/96/business_table_order_report_history_2332.png"/></button>
</div>
<div class="col-lg-12">
    <app-plots-form [openForm]="canOpenForm" (closedForm)="cancelForm($event)"></app-plots-form>
</div>
<br>
<div class="col-lg-12">
    <app-plots-table [componentForTables]="canOpenTable" (collapseTable)="cancelTable($event)"></app-plots-table>
</div>