input{
    border: none;
}

svg{
    margin-left: 5px;
    fill: white;
    opacity: 90%;
    transition: 100ms;
}

div{
    margin: 10px;
    transition: 200ms;
}

h2{
    color: black;
}

.checkbox{
    margin-right: 10px;
}

.position{
    width: 100%;
}

.add-btn{
    margin: auto;
    display: block;
    margin-bottom: 50px;
} 

.left-box{
    overflow: auto;
    width: 300px;
    max-height: 85vh;
}

.left-btn{
    max-width: 200px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.right-box{
    overflow: auto;
    max-height: 85vh;
}

.list-name-item{
    width: 27px;
    height: 27px;
    margin-bottom: 5px;
    margin-left: 15px;
    opacity: 50%;
    fill: black;
    transition: 200ms;
}

.list-rename-icon:hover{
    fill:goldenrod;
    opacity: 80%;
}

.list-rename-icon:active{
    opacity: 20%;
}

.list-trash-icon:hover{
    fill: rgb(218, 32, 32);
    opacity: 80%;
}

.list-trash-icon:active{
    opacity: 20%;
}

.task-text{ 
    width: 100%;
    border-bottom:2px solid #d1d1d1;
    background: none;  
    transition: 200ms;
}

.task-text:focus{
    border-bottom:2px solid #0086a7;
    transition: 200ms;
}

.task-trash-icon{
    margin: 5px 10px;
    height: 20px;
    opacity: 50%;
    fill: rgb(218, 32, 32);
}

.task-trash-icon:hover{
    margin-left: 30px;
    opacity: 80%;
}

.task-trash-icon:active{
    margin-left: 0px;
    padding-left: 100px;
    opacity: 20%;
}