<div class="container">
  <div class="row">
    <div [class]="titleColumnClass">
      <label for="newPositionTitle">Название должности:</label>
      <input type="text" [(ngModel)]="newPosition.title" class="fullWidth"
              id="newPositionTitle">
    </div>
    <div [class]="reqColumnClass">
      <label for="newPositionReq">Требования:</label><br>
      <textarea [(ngModel)]="newPosition.requirements"
               class="fullWidth"
               id="newPositionReq"></textarea>
    </div>
    <div [class]="buttonColumnClass">
      <button class="btn btn-success btn-sm btn-add"
              (click)="onAdd()"
              [disabled]="!addEnabled">Добавить</button>
    </div>
  </div>
</div>
