:host.eventsDisabled {
    pointer-events: none;
}

.btn {
    background: #88c149;
    padding: 0px 8px 4px;
    display: inline-block;
    margin: 8px;

    svg {
        width: 16px;
        height: 16px;
        vertical-align: middle;

        &.add {
            fill: #fff;
        }
    }
}