<br>
<div class="col-lg-12">

<h2>Заявка подачи\получения оборудования из сервиса</h2>

<app-instrument-service-form (setItem)="onAdd($event)" (updateItem)="onSave($event)" ></app-instrument-service-form> <!-- [itemId]="itemId" -->
</div>



<div class="col-lg-12">
  
  <h3>Добавленные элементы</h3>
  <app-instrument-service-table [instrumentList]="instruments" 
                                (deleteItem)="onDelete($event)" 
                                (updateItem)="onUpdate($event)" 
                                (itemId)="redirectId($event)" 
                                (saveItem)="onSave($event)"
                                ></app-instrument-service-table>
</div>
