<div class="navigate-block col-6">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a routerLink='workplace' routerLinkActive="active" data-toggle="tab" class="nav-link" l10nTranslate>workPlace</a>
        </li>
        <li class="nav-item">
            <a routerLink='workarea' routerLinkActive="active" data-toggle="tab" class="nav-link" l10nTranslate>workArea</a>
        </li>
        <li class="nav-item">
            <a routerLink='departments' routerLinkActive="active" data-toggle="tab" class="nav-link" l10nTranslate>departments</a>
        </li>
        <li class="nav-item">
            <a routerLink='locations' routerLinkActive="active" data-toggle="tab" class="nav-link" l10nTranslate>addresses</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>