

<form>
<table>
<thead>
    <tr>
      <th class="table-primary" scope="col">Месяц</th>
      <th class="table-primary" scope="col">Газ <br /> счётчик </th>
      <th class="table-primary" scope="col">Тариф <br /> (грн. за 1 м³, с НДС) </th>  
      <th class="table-primary" scope="col">Вода  <br /> счётчик</th>
      <th class="table-primary" scope="col">Тариф, <br /> (грн. за 1 м³, с НДС)</th>
      <th class="table-primary" scope="col">Свет <br /> счётчик </th> 
      <th class="table-primary" scope="col">Тариф <br /> (коп. за 1 кВт⋅час, с НДС)</th> 
      <th class="table-primary" scope="col">Год <br /> </th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> 
        <select class="custom-select" id="validationServer04" required>
            <option selected disabled value="">Выбратьт</option>
            <option>Январь</option>
            <option>Февраль</option>
            <option>Март</option>
            <option>Апрель</option>
            <option>Май</option>
          </select>
      </th>
      <td class="table-warning">  <input type="number" class="form-control" id="" value="" required></td>
      <td class="table-warning"> <input type="number" class="form-control" id="" value="" required></td>
      <td class="table-warning">  <input type="number" class="form-control" id="" value="" required></td>
      <td class="table-warning"> <input type="number" class="form-control" id="" value="" required></td>
      <td class="table-warning">  <input type="number" class="form-control" id="" value="" required></td>
      <td class="table-warning"> <input type="number" class="form-control" id="" value="" required></td>
     
      <td class="table-primary">
        <select class="custom-select" id="validationServer04" required>
            <option selected disabled value="">Выбрать</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
            <option>2025</option>
            <option>2026</option>
            <option>2027</option>
            <option>2028</option>
            <option>2029</option>
            <option>2030</option>
          </select>
      </td>
    </tr>
</tbody> 

<br />
<button class="btn btn-primary" type="submit">Добавить</button>   
</table>
</form>













  <br />  <br />  <br />



<table class="meteringTable">
    <thead>
      <tr>
        <th class="table-primary" scope="col">2019</th>
        <th class="table-primary" scope="col">Газ <br /> счётчик </th>
        <th class="table-primary" scope="col">Тариф <br /> (грн. за 1 м³, с НДС) </th>  
        <th class="table-primary" scope="col">Вода  <br /> счётчик</th>
        <th class="table-primary" scope="col">Тариф, <br /> (грн. за 1 м³, с НДС)</th>
        <th class="table-primary" scope="col">Свет <br /> счётчик </th> 
        <th class="table-primary" scope="col">Тариф <br /> (коп. за 1 кВт⋅час, с НДС)</th> 
        <th class="table-primary" scope="col">Общая сумма <br /> грн. в мес.</th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Январь</th>
        <td>0</td>
        <td class="table-warning">0</td>
        <td>0</td>
        <td class="table-warning">0</td>
        <td>0</td>
        <td class="table-warning">0</td>
        <td class="table-primary">0</td>
      </tr>
      <tr>
      <th scope="row">Февраль</th>
        <td>0</td>
        <td class="table-warning">0</td>
        <td>0</td>
        <td class="table-warning">0</td>
        <td>0</td>
        <td class="table-warning">0</td>
        <td class="table-primary">0</td>
      </tr>

      <tr>
      <th scope="row">Март</th>
        <td>0</td>
        <td class="table-warning">0</td>
        <td>0</td>
        <td class="table-warning">0</td>
        <td>0</td>
        <td class="table-warning">0</td>
        <td class="table-primary">0</td>
      </tr>
  
      
    </tbody>
  </table>