<button type="button" class="btn btn-sm" (click)="onFilterClick()">Фильтр</button>
<div *ngIf="visible">
  <div class="form-row">
    <div class="col">
      <label for="firstName">Имя:</label>
      <input type="text" [(ngModel)]="filter.firstName" id="firstName" class="form-control form-control-sm">
    </div>
    <div class="col">
      <label for="secondName">Фамилия:</label>
      <input type="text" [(ngModel)]="filter.secondName" id="secondName" class="form-control form-control-sm">
    </div>
    <div class="col">
      <label for="patronymic">Отчество:</label>
      <input type="text" [(ngModel)]="filter.patronymic" id="patronymic" class="form-control form-control-sm">
    </div>
  </div>
  <br>
  <div class="button-group pull-right">
    <button (click)="onApplyClick()" class="btn btn-primary btn-sm">Применить</button>
    <button (click)="onResetClick()" class="btn btn-light btn-sm">Сбросить</button>
  </div>
  <br>
</div>