<button type="button" class="btn btn-sm" (click)="onFilterClick()">Фильтр</button>
<div *ngIf="visible">
  <div class="form-row">
    <div class="col">
      <label for="firstName">Табельный №:</label>
      <input type="text" [(ngModel)]="filter.id" id="firstName" class="form-control form-control-sm" [readonly]="locked">
    </div>
    <div class="col">
      <label for="secondName">Фамилия:</label>
      <input type="text" [(ngModel)]="filter.secondName" id="secondName" class="form-control form-control-sm" [readonly]="locked">
    </div>
    <div class="col">
      <label for="patronymic">Паспорт:</label>
      <input type="text" [(ngModel)]="filter.passport" id="patronymic" class="form-control form-control-sm" [readonly]="locked">
    </div>
    <div class="col">
      <label for="taxNumber">Налоговый №:</label>
      <input type="text" [(ngModel)]="filter.taxNumber" id="taxNumber" class="form-control form-control-sm" [readonly]="locked">
    </div>
  </div>
  <br>
  <div class="form-row">
      <label for="position">Должность:</label>
      <app-position-selector [position]="filter.position" id="position" [disabled]="locked"></app-position-selector>
  </div>
  <div class="button-group pull-right">
    <filter-button (click)="onApplyClick()" 
                  titlePlaceholder="Применить фильтр"
                  [disabled]="locked"></filter-button>
    <edit-button  (click)="onResetClick()"
                  titlePlaceholder="Сбросить фильтр"
                  [disabled]="locked"
                  [showCancelBtn]="true"></edit-button>
  </div>
</div>