<table class="table">
  <app-instrument-service-table-item [instrument]="instrument" [indexItem]="i" *ngFor="let instrument of getInstruments(); let i = index"></app-instrument-service-table-item>
  <!-- <tr *ngFor="let instrument of getInstruments(); let i = index">
    <td>{{instrument.id}}</td>
    <td>{{instrument.startDate}}</td>
    <td>{{instrument.endDate}}</td>
    <td>{{instrument.status}}</td>
    <td>{{instrument.description}}</td>
    <td> 
      <button (click)="onUppdate(instrument, i)"
      type="button" class="btn btn-warning" *ngIf="!updade">Изменить</button> 

      <button (click)="onSave(i)"
      type="button" class="btn btn-primary" *ngIf="updade">Сохранить</button>
    </td>
    <td>
      <button (click)="onDelete(i)"
      type="button" class="btn btn-danger">Удалить</button> 
    </td>
  </tr> -->
</table>
