.dropdown {
    &>.nav-link {
        color: rgba(255, 255, 255, 0.8);
        &:hover {
            color: #fff;
        }
    }
}

.dropdown-menu {
    z-index: 9999;
}

.navigate-block {
    position: sticky;
    top: 0px;
    z-index: 999999;
}

.place {
    padding-right: 3%;
    padding-left: 3%;
}