<div *ngIf="canOpenTable">
    <br>
    <div class="fuilter">
        <div class="btnFilters">
            <button class="btn btn-outline-primary btn-sm" (click)="displayFilters()">Фильтр</button>
        </div>
        <div *ngIf="canUseFuilter" class="groupingOfElements">
            <div class="point">
                <small>ID</small>
                <input type="number" class="form-control form-control-sm" [(ngModel)]="idForSearch">
            </div>
            <div class="point">
                <small>Название рабочего участка</small>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="nameForSearch">
            </div>
            <div class="mybuttonForForm">
                <save-button (click)="onSearch()" titlePlaceholder="Применить">
                </save-button>
                <edit-button (click)="onCancel()" titlePlaceholder="Отменить" [disabled]="locked" [showCancelBtn]="true">
                </edit-button>
            </div>
        </div>
    </div>
    <div class="formForWorkSite">
        <app-work-site-form [openForm]="isOpenForm" [row]="currentWorkSite" (renovation)="update($event)" (reset)="cancelCurrentWorkSite()" (deletion)="delete($event)"></app-work-site-form>
    </div>
    <div>
        <table class="table table-striped">
            <thead class="table-primary">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Название рабочего участка
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let workSite of changeableWorkSites" [class.active]="workSite===currentWorkSite" on-click="onRowClick(workSite)">
                    <td>
                        {{workSite.id}}
                    </td>
                    <td>
                        {{workSite.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>