.icon {
    margin-top: 5px;
    height: 29px;
    width: 26px;
}

.btnfortoolbar {
    margin-right: 5px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(255, 255, 255);
}

section {
    float: left;
}

.mysection {
    margin-top: 15px;
}