.icon {
    margin-top: 5px;
    height: 29px;
    width: 26px;
}

.btnfortoolbar {
    margin-right: 5px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(255, 255, 255);
}

.header {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #2FA4E7;
    font-size: 1.5rem;
}