:active, :hover, :focus {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
}

::-webkit-scrollbar { 
    width: 0px;  
    background: transparent;  
}

input{
    border: none;
}

div{
    margin: 10px;
    transition: 200ms;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: black;
}

.container {
    height: 85vh;
}

.flex{
    display: flex;
    align-items: flex-start;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-stretch{
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.flex-center-column{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.overflow{
    overflow: auto;
    max-height: 100%;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.checkbox{
    margin-right: 10px;
}

.left-box{
    flex: 0.4;
}

.left-item{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
        font-size: 11pt;
        opacity: 0.7;
    }
}

.right-box{
    flex: 1;
}

.right-task-name{
    opacity: 0.7;
    margin-top: -10px;
}