:host.eventsDisabled {
    pointer-events: none;
}


.btn {
    svg {     

        &.add {
            height: 28px;
            width: 28px;

            fill: rgb(106, 218, 32);
            opacity: 0.9;
        }
    }
}

.btn:hover {
    svg {     
        &.add {
            opacity: 1;
        }
    }
}