<span class="header">{{caption}}</span>
   <save-button *ngIf="buttonsBlockVisible && saveVisible" (click)="onSave()" 
                  titlePlaceholder="Сохранить"></save-button>
   <delete-button *ngIf="buttonsBlockVisible && deleteVisible" (click)="onSave()" 
                  titlePlaceholder="Удалить"></delete-button>
   <edit-button  *ngIf="buttonsBlockVisible" 
                  (click)="onCancel()"
                  titlePlaceholder="Отмена"
                  [showCancelBtn]="true"></edit-button>
<span *ngIf="!employee">Не указан сотрудник для отображения деталей!</span>
<div *ngIf="employee" class="accordion" id="editorAccordion">
   <div class="card">
      <div class="card-header condensed">
         <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#mainInfo">
            Основная информация
         </button>
      </div>
      <div id="mainInfo" class="collapse show" data-parent="#editorAccordion">
         <div class="card-body">
            <app-employee-info-editor [mainInfo]="employee.mainInfo" [viewMode]="viewMode">
            </app-employee-info-editor>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header condensed">
         <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#mainInfo2">
            Документы
         </button>
      </div>
      <div id="mainInfo2" class="collapse" data-parent="#editorAccordion">
         <div class="card-body">
            <app-document-info-editor [document]="employee.document" [viewMode]="viewMode">
            </app-document-info-editor>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header condensed">
         <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#mainInfo5">
            Образование
         </button>
      </div>
      <div id="mainInfo5" class="collapse" data-parent="#editorAccordion">
         <div class="card-body">
            <app-education-info-editor [education]="employee.education" [viewMode]="viewMode">
            </app-education-info-editor>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header condensed">
         <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#familyCard">
            Семья
         </button>
      </div>
      <div id="familyCard" class="collapse" data-parent="#editorAccordion">
         <div class="card-body">
            <app-family-info-editor [family]="employee.family" [viewMode]="viewMode"></app-family-info-editor>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header condensed">
         <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#mainInfo3">
            Адрес / Контакты
         </button>
      </div>
      <div id="mainInfo3" class="collapse" data-parent="#editorAccordion">
         <div class="card-body">
            <app-adress-info-editor [adress]="employee.adress" [viewMode]="viewMode"></app-adress-info-editor>
            <app-contact-info-editor [contact]="employee.contact" [viewMode]="viewMode"></app-contact-info-editor>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header condensed">
         <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#medicalCard">
            Медицинская карта / Страховка
         </button>
      </div>
      <div id="medicalCard" class="collapse" data-parent="#editorAccordion">
         <div class="card-body">
            <app-medical-info-editor [medicalCard]="employee.medicalCard" [viewMode]="viewMode">
            </app-medical-info-editor>
            <app-ensurance-info-editor [ensurance]="employee.ensurance" [viewMode]="viewMode">
            </app-ensurance-info-editor>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header condensed">
         <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#mainInfo6">
            Прием на работу / Должность / Увольнение
         </button>
      </div>
      <div id="mainInfo6" class="collapse" data-parent="#editorAccordion">
         <div class="card-body">
            <app-position-info-editor [position]="employee.position" [viewMode]="viewMode"></app-position-info-editor>
            <app-employment-info-editor [employment]="employee.employment" [viewMode]="viewMode">
            </app-employment-info-editor>
         </div>
      </div>
   </div>
</div>