<div class="navigate-block">
    <ul class="navbar navbar-dark bg-primary">
        <li class="nav navbar-nav">
            <a routerLink="/home" routerLinkActive="active" class="nav-link active">Главная</a>
        </li>

        <li class="nav nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Управление персоналом</a>
            <div class="dropdown-menu">
                <a routerLink="/employee" routerLinkActive="active" class="nav-link">Учет работников</a>
                <a routerLink="/ihor" routerLinkActive="active" class="nav-link">Рабочие окна</a>
            </div>
        </li>

        <li class="nav navbar-nav">
            <a routerLink="/instrument-services" routerLinkActive="active" class="nav-link">Обслуживание
                оборудования</a>
        </li>
        <li class="nav navbar-nav">
            <a routerLink="/gettings-tools" routerLinkActive="active" class="nav-link">Получение инструмента</a>
        </li>
        <li class="nav navbar-nav">
            <a routerLink="/materials-dictionary" routerLinkActive="active" class="nav-link">Список материалов</a>
        </li>

        <li class="nav navbar-nav">
            <a routerLink="/metering" routerLinkActive="active" class="nav-link">Счётчики</a>
        </li>

        <li class="nav navbar-nav">
            <a routerLink="/check-list" routerLinkActive="active" class="nav-link">Чек-лист</a>
        </li>
    </ul>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>