<div class="navigate-block">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/employee" routerLinkActive="active" class="nav-link">Employee manager</a>
            </li>
            <li class="nav-item">
                <a routerLink="/ihor" routerLinkActive="active" class="nav-link">Day Off</a>
            </li>
            <li class="nav-item">
                <a routerLink="/instrument-servises" routerLinkActive="active" class="nav-link">Instrument servis</a>
            </li>
          <li class="nav-item">
            <a routerLink="/materials-dictionary" routerLinkActive="active" class="nav-link">Словарь материалов</a>
          </li>
        </ul>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
